#canvas_container {
    width: 100%;
    height: 600px;
    cursor: none;
    position: relative;
}
#canvas_container canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#foreground_canvas {
    z-index: 9;
}
#background_canvas {
    z-index: -1;
}
@keyframes falling_note{
  0% {
    opacity:1;
  }
  100% {
    opacity:0.1;
    top: 100%;
  }
}
.notebubble {
    animation: falling_note linear 0.95s;
    animation-iteration-count: 1;
    position: absolute;
    z-index: 5;
    width: 50px;
    font-size: 22px;
    background: #F00 none repeat scroll 0% 0%;
    border-radius: 50px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
}
/* TODO: find colors for notes */
/* Do */
.notebubble.C {
    background: #800000;
}
/* Re */
.notebubble.D {
    background: #B3AECD;
}
/* Mi */
.notebubble.E {
    background: #33CC33;
}
/* Fa */
.notebubble.F {
    background: #FF9900;
}
/* Sol */
.notebubble.G {
    background: #6600CC;
}
/* La */
.notebubble.A {
    background: #FF66FF;
}
/* Si */
.notebubble.B {
    background: #CCFFFF;
    color: black;
}


footer {
    text-align: center;
    font-size: small;
    color: gray;
    position: absolute;
    width: 100%;
    bottom: 0;
}
